@model HADES.Util.ModelAD.GroupAD

<div class="modal fade" id="GroupCreate" tabindex="-1" role="dialog" aria-labelledby="GroupCreateLbl"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GroupCreateLbl">Create new group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-groupName-tab" data-toggle="tab" href="#nav-groupName"
                           role="tab" aria-controls="nav-home" aria-selected="true">General</a>
                        @{
                            var tabClass = Model != null ? "nav-item nav-link" : "nav-item nav-link disabled";
                        }
                        <a class="@tabClass" id="nav-members-tab" data-toggle="tab" href="#nav-members"
                           role="tab" aria-controls="nav-members" aria-selected="false">Members</a>
                        <a class="@tabClass" id="nav-owners-tab" data-toggle="tab" href="#nav-owners"
                           role="tab" aria-controls="nav-owners" aria-selected="false">Owners</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-groupName" role="tabpanel" aria-labelledby="nav-groupName-tab">
                        <!-- general form -->
                        <form asp-action="CreateGroupModal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group row">
                                <label asp-for="SamAccountName" class="col-sm-2 col-form-label">Group Name</label>
                                <div class="col-sm-10">
                                    <input asp-for="SamAccountName" class="form-control" placeholder="Group name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <input asp-for="Description" class="form-control" placeholder="Description">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input asp-for="Email" type="Email" class="form-control" id="Email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Notes">Notes</label>
                                <textarea asp-for="Notes" class="form-control" id="Notes" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    @if (Model != null)
                    {
                    <div class="tab-pane fade" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
                        <!-- members form -->
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label asp-for="Members.First().SamAccountName" class="control-label"></label>
                                        </th>
                                        <th>
                                            <label asp-for="Members.First().Dn" class="control-label"></label>
                                        </th>
                                    </tr>
                                </thead>
                                @if (Model.Members != null)
                                {
                                    for (var i = 0; i < Model.Members.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                <input class="form-control" asp-for="Members[i].SamAccountName"/>
                                            </td>
                                            <td>
                                                <input class="form-control" asp-for="Members[i].Dn"/>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div>
                            <button type="button" class="btn ">Add</button>
                            <button type="button" class="btn ">Remove</button>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="nav-owners" role="tabpanel" aria-labelledby="nav-owners-tab">
                        <!-- Owners form -->
                        ...
                    </div>
                    }
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Ok</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>