@model MainViewViewModel

<div class="directorist-select directorist-select-multi" id="EditOwnersMultiSelect" data-isSearch="true" data-multiSelect='@Model.UsersAD'>
    <input type="hidden" asp-for="@Model.SelectedOwners">
</div>

<script type="text/javascript">
    pureScriptSelect('#EditMembersMultiSelect');
    pureScriptSelect('#EditOwnersMultiSelect');

</script>