@model HADES.Models.MainViewViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ooops!</title>
</head>
<body>
    <div>
        <h1>@Model.ADConnectionError</h1>
        <hr />
    </div>
</body>
</html>