@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

    <link rel="stylesheet" href="~/css/login.css" />
    <div class="container">
        <h2 class="text-center">@Localizer["Login"]</h2>
    </div>



