@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section scripts
{
    <link rel="stylesheet" href="~/lib/bootstrap-treeview/css/bootstrap-treeview.css">
    <script type="text/javascript" src="~/lib/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="~/js/treeview.js"></script>
}

<div class="row">
    <div class="col-sm-4">
        <h3 class="mt-3">Dossier et groupes</h3>

        @* afficher le treeview *@
        <div id="mytreeview" class="treeview"></div>

    </div>
    <div class="col-sm-8">
        <h3 class="mt-3">Contenu des dossiers et des groupes</h3>

        @* afficher le contenu du dossier ou du groupe *@

    </div>
</div>

