@model MainViewViewModel

@section scripts
{
    <link rel="stylesheet" href="~/lib/bootstrap-treeview/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="~/lib/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/treeview.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}

@* Main *@

<div class="row" id="main">
    @await Html.PartialAsync("_Main", Model)
</div>

<!-- dialogs -->
<div id="dialog-error-delete" title=@Localizer["DeleteFailedTitle"].Value>@Localizer["DeleteFailedMessage"]</div>
<div id="dialog-confirmation-delete" title=@Localizer["DeleteConfirmationTitle"].Value>@Localizer["DeleteConfirmationMessage"]</div>