@model MainViewViewModel

@{
    IUser u = HADES.Util.ConnexionUtil.CurrentUser(Context.User);
}

@section scripts
{
    <link rel="stylesheet" href="~/lib/bootstrap-treeview/css/bootstrap-treeview.css">
    <script type="text/javascript" src="~/lib/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="~/js/treeview.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/pureScriptSelect-master/script.js"></script>
}

@* Main *@

<div class="bg-primary text-white text-center">
    <h1 class="m-3 p-3"><i class="fa fa-folder fa-fw mr-3"></i>@HADES.Strings.MainView</h1>
</div>

<div class="row" id="main">
    @await Html.PartialAsync("_Main", Model)
</div>

@if (u.GetRole().AdCrudAccess)
{
    <!-- dialogs -->
    <div id="dialog-error-delete" title=@Localizer["DeleteFailedTitle"].Value>@Localizer["DeleteFailedMessage"]</div>
    <div id="dialog-confirmation-delete" title=@Localizer["DeleteConfirmationTitle"].Value>@Localizer["DeleteConfirmationMessage"]</div>
}
