body, th, td, .modal-content, .close, .list-group-item {
    background-color: #212529 !important;
    color: white !important;
}

.modal-content {
    border: 1px solid white;
}

.btn-primary {
    border-color: darkgrey ;
    background: linear-gradient(dimgrey,#212529,dimgrey) ;
}

.bg-primary {
    border-color: darkgrey;
    background: linear-gradient(dimgrey,#212529,dimgrey);
}

.btn-danger {
    border-color: darkgrey;
    background: linear-gradient(red,#212529,red);
}

a {
    color: white !important;
}

.dropdown-item, .directorist-select-item-hide, .page-link {
    color: black !important;
}


.node-selected, .nav-link.active {
    background-color: dimgrey !important;
}

.ui-state-highlight {
    background: none !important;
}



