body, th, td, li, ul {
    background-color: #212529 !important;
    color: antiquewhite !important;
}


.btn-primary {
    border-color: darkgrey;
    background: linear-gradient(dimgrey,#212529,dimgrey);
}

.bg-primary {
    border-color: darkgrey;
    background: linear-gradient(dimgrey,#212529,dimgrey);
}

.btn-danger {
    border-color: darkgrey;
    background: linear-gradient(dimgrey,#212529,dimgrey);
}

a {
    color: antiquewhite !important;
}

.dropdown-item{
    color: black !important;
}


.node-selected {
    background-color: dimgrey !important;
}

