body, .modal-content {
    background: repeating-linear-gradient(lightgreen,green,lightgreen);
    color: white !important;
}
.list-group-item {
    background-color: green !important;
    color: white !important;
}

.docPane {
    background-color: white !important;
    border: 2px solid darkgreen;
    color: black !important;
}

.btn-primary {
    border-color: darkgreen;
    background: linear-gradient(white,green,darkgreen,green,white);
}

.bg-primary {
    border-color: darkgreen;
    background: linear-gradient(white,green,darkgreen,green,white);
}

.btn-secondary {
    border-color: darkgrey;
    background: linear-gradient(white,grey,darkgrey,grey,white);
}

.btn-danger {
    border-color: darkgreen;
    background: linear-gradient(white,red,darkred,red,white);
}

a{
    color: white;
}

.bg-danger {
    border-color: darkgreen;
    background: linear-gradient(white,red,darkred,red,white);
}

.modal-content {
    border: 1px solid white;
}

.nav-link.active {
    background-color: lightgreen !important;
}

.node-selected {
    background-color: darkgreen !important;
}
.dropdown-item, .directorist-select-item-hide, .page-link {
    color: black !important;
}