
body {
    margin-bottom: 60px !important;
}

.dropmenu {
    margin: 0px 20px 0px 0px;
}

span.icon {
    padding-right: .5em;
}

.table td, .table th {
    vertical-align: middle;
    padding: 8px;
}

.treeview .list-group-item {
    padding: .15rem 1.25rem .15rem .5rem !important;
    text-overflow: ellipsis;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.table td, .table th {
    vertical-align: middle;
    padding: 1px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label {
    padding: 2.5px 0px 2.5px 15px;
    margin: 0px !important;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li.directorist-select-item-show {
    color: black;
    text-decoration: line-through;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: -1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: lightgray;
    border: 5px solid grey;
}

.table td, .table th {
    vertical-align: middle;
    padding: 1px;
}


/**Modal Windows Edit/CreateGroupe**/
.tab-absolute {
    position: absolute;
    top: 64px;
}

.tab-content {
    padding-top: 5px;
}


.GroupModalBody {
    min-height: 520px;
}

.modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.GroupModalBody {
    min-height: 520px;
}

.modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.docPane {
    padding: 5px;
}