.tab-absolute {
    position: absolute;
    top: 64px;
}

.tab-content {
    padding-top: 5px;
}


.GroupModalBody{
    min-height : 520px;
}

.modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}