body {
    background-color: chocolate;
    margin-bottom: 60px;
}

.table td, .table th {
    vertical-align: middle;
    padding: 1px;
}

.dropmenu {
    margin: 0px 20px 0px 0px;
}

span.icon {
    padding-right: 1.5em;
}