@model HADES.Models.SuperAdminGroup

@{
    ViewData["Title"] = "CreateSuperAdminGroup";
}

<h4>Super Admin Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSuperAdminGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">DN</label>
                <input name="DN" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.AppConfigId" value="@ViewBag.AppConfigId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="AppConfig" asp-route-id="@ViewBag.AppConfigId">@HADES.Strings.Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}