<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HADES</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/v5.8.1/all.css">
    <link href="~/css/site/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</head>
@{
    // Get the image
    ViewBag.img = new HADES.Data.ApplicationDbContext().AppConfig.FirstOrDefault().CompanyBackgroundFile;
}
<body style="background-image:url(@ViewBag.img);">
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

</body>
</html>
