body {
    padding-bottom: 60px;
}

.table td, .table th {
    vertical-align: middle;
    padding: .5rem;
}

span.icon {
    width: 12px;
    margin-right: 1rem;
}

.dropmenu {
    margin: 0px 20px 0px 0px;
}