body {
    background-color: white;
    margin-bottom: 60px;
}

.table td, .table th {
    vertical-align: middle;
    padding: 8px;
}

.dropmenu {
    margin: 0px 20px 0px 0px;
}

span.icon {
    padding-right: .5em;
}